@model IEnumerable<mobile_experience_MVC.Models.StageAEEvent>

            <table class="table">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Date</th>
                        <th>Venue</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Artist)</td>
                            <td>@Html.DisplayFor(modelItem => item.Date)</td>
                            <td>@Html.DisplayFor(modelItem => item.Venue)</td>
                            <td>@Html.ActionLink("View Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })</td>
                        </tr>    
                    }
                </tbody>
            </table>