@model IEnumerable<mobile_experience_MVC.Models.StageAEEvent>

@{
    ViewBag.Title = "Upcoming Events";
}

    <div class="row">
        <div class="span8">
            <div class="page-header">
                <h1>Upcoming Events</h1>
            </div>
            @Html.Partial("_EventListPartial")
        </div>
    </div>
