@{
    ViewBag.Title = "Purchase";
}

    <div class="row">
        <div class="span8">
            <form class="well">
            <input type="text" class="span3" placeholder="First Name..."/>
                <input type="text" class="span3" placeholder="Last Name..."/>
                <input type="text" class="span3" placeholder="Address..."/>
                <input type="text" class="span3" placeholder="City..."/>
                <input type="text" class="span3" placeholder="State..."/>
                <input type="text" class="span3" placeholder="Email..."/>
                <span class="help-block">Billing Information.</span>
                <input type="text" class="span3" placeholder="Card Number..."/>
                <input type="text" class="span3" placeholder="Expiration Date..."/>
                @Html.ActionLink("Purchase", "Confirmation", null, new { @class = "btn btn-primary" })
            </form>
        </div>
    </div>